<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.zerock.myapp.mapper.EmployeesMapper">

  <select 
    id="selectAllEmployees"
    resultType="com.zerock.myapp.domain.EmployeeVO">

      <![CDATA[
        SELECT 
          *
        FROM
          employees  
      ]]>	

  </select>
  
  <select 
    id="countEmployees"
    resultType="int">

      <![CDATA[ 
        SELECT
          count(*)
        FROM
          employees    
      ]]>
      
  </select>

</mapper>